<!-- Display title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } %>
<!-- Display Message -->
<%- messages() %>

<!-- Login Form -->
<form action="/account/login" method="post" id="login-form">
  <label for="email">Email</label>
  <input
    type="email"
    id="email"
    name="account_email"
    title="Enter your email"
    placeholder="example@example.com"
    required
  />
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="account_password"
    placeholder="Enter your password"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    title="Password must be at least 12 characters, contain a capital letter, a number, and a special character."
    required
  />
  <small class="password-help">
    Password must be:<br />
    • 12 characters minimum<br />
    • At least 1 capital letter<br />
    • At least 1 number<br />
    • At least 1 special character
  </small>
  <button type="submit">Login</button>
  <p>
    No account?
    <a href="/account/register" title="Create a new account">Sign-up</a>
  </p>
</form>
