<% const d = new Date(); const year = d.getFullYear(); %>
<footer>
  <p class="copyright">&copy; <%= year %> CSE 340 App</p>
  <a
    href="/error-test/trigger-error"
    class="btn"
    style="margin-top: 1rem; display: inline-block; color: #01b0d3"
    >Trigger 505 Error</a
  >
</footer>
