<!-- CONTENT HEADING -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> res.redirect("/"); <% } %>

<!-- Message -->
<%# message () %>

<!-- FORM FOR ADDING NEW CLASSIFICATION  -->

<!-- <form action="" name="classification-table" method="post">
  <label for="classfName">Add New Classification</label>
  <input type="text" name="classification_name" id="classfName" 
    placeholder="Enter a classification name"
    pattern="[]" 
    title="classification name cannot contain a space or special character of any kind"
    required/>
    <button type="submit">Add Classification</button>
</form> -->
