<!-- Contain a form for adding a new classification 
 (you will only need to add the classification name, 
 the primary key in the table is auto-incrementing).
 -->

 <!-- Message -->
  <!-- <%# message () %> -->

<!-- FORM FOR ADDING NEW CLASSIFICATION  -->

<!-- <form action="" name="classification-table" method="post">
  <label for="classfName">Add New Classification</label>
  <input type="text" name="classification_name" id="classfName" 
    placeholder="Enter a classification name"
    pattern="[]" 
    title="classification name cannot contain a space or special character of any kind"
    required/>
    <button type="submit">Add Classification</button>
</form> -->
