<!-- CONTENT HEADING -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> res.redirect("/"); <% } %>

<!-- MESSAGE BLOCK -->
<%# message() %>

<!-- two links (not directly to a view must use MVC approach) -->
<!-- LINK 1 -->
<!-- trigger a process to deliver an add new classification view -->
 <!-- <%#- classification %> -->

<!-- LINK 2 -->
 <!-- trigger a process to deliver an add inventory view -->
  <!-- <%#- inventory %> -->
